
.theme-light .main_navbar nav{
    width: 97%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.theme-light .main_navbar nav .dis_wra{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.7rem;
    border-radius: 6px;
    padding: 0.25rem 0.4rem;
    border: 2px solid #e6e7eb;
    cursor: pointer;
    color: #373737;
    box-shadow: 0 0 8px 0 #0000001a;
}
.theme-light .main_navbar .theme-switch{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: large;
    color: #373737;
}
th{
    font-weight: lighter;
}   
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    cursor: pointer;
  }
  


  theme-light .main_navbar nav .dis_wra .dropbtn {
    font-size: 1rem;
    color: #8D8D8D;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    transition-property: normal; /* This line is unnecessary and will be overridden by the next line */
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    
    transform: rotate(0deg);
  }
  
      
  


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content div {
    padding: 12px 16px;
    display: block;
    cursor: pointer;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .theme-light  .component-wrapper {
    display: grid;
    grid-gap: 15px;
    width: 100%;
    margin: 0 auto;
    min-height: 92vh;
    padding: 10px 0;
}

theme-light .component-wrapper {
  background-color: #f4f5f8;
  height: auto;
}