.status-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding:  20px;
    height: auto;
  }
  
  .status-column {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
  }
  
  .card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
  }
  
  .backlog { background-color: white; }
  .todo { background-color: white; }
  .inprogress { background-color: white; }
  done { background-color: white; }
  cancelled { background-color: white; }
  
  
